<%@ page language="java" pageEncoding="UTF-8"%>
 <div style="color: #4e5766; padding: 6px 0px 0px 0px; margin: 0px auto; text-align: center; font-size:12px; font-family:微软雅黑;">
      Copyright: 好大夫医疗云平台.&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="http://www.baidu.com" target="_blank" style="text-decoration: none;">关于 好大夫医疗云平台</a><br />
                                   建议使用&nbsp;
      <a href="http://windows.microsoft.com/zh-CN/internet-explorer/products/ie/home" target="_blank" style="text-decoration: none;">IE(Version 9/10/11)</a>/
      <a href="https://www.google.com/intl/zh-CN/chrome/browser/" target="_blank" style="text-decoration: none;">Chrome</a>/
      <a href="http://firefox.com.cn/download/" target="_blank" style="text-decoration: none;">Firefox</a>
      &nbsp;系列浏览器。
</div>