<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@taglib prefix="m" uri="/common/tld/menu.tld"%>
<link rel="stylesheet" href="../jquery-easyui-1.4.4/plugins/jquery.accordion.js" type="text/css"></link>
<link rel="stylesheet" href="${pageContext.request.contextPath}/plug-in/accordion/css/accordion.css" type="text/css"></link>
<script type="text/javascript" src="${pageContext.request.contextPath}/plug-in/accordion/js/functionMenu.js"></script>
 
 <m:menu parentFun="${parentFun}" childFun="${childFun}"></m:menu>
